//Whites
$white : rgb(255, 255, 255);

//Blacks
$fontBlack : rgb(40, 40, 40);

//Greys
$grey : rgb(207, 207, 207);
$lightGrey : rgb(246, 246, 246);

//Reds
$red : rgb(255, 70, 70);
$redFaded : rgba(255, 70, 70, 0.5);